.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ffffff; /* цвет фона */
    padding: 20px; /* внутренний отступ */
    text-align: center; /* выравнивание текста */
}

header a {
    text-decoration: none; /* убираем подчеркивание */
    color: #333333; /* цвет текста */
    font-size: 28px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
}


.tour {
    margin: 2rem 0;
}

.tour h1 {
    font-size: 3rem;
    margin: 0 0 0.5rem;
}

.tour h2 {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
}

.tour-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.tour-description,
.tour-dates {
    flex-basis: 50%;
}

.tour-description h3,
.tour-dates h3,
.tour-price h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
}

.tour-price {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.tour-category {
    margin-bottom: 20px;
    font-size: 16px;
}

.tour-category a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.tour-category a:hover {
    background-color: #333;
    color: #fff;
}

.tour-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    font-size: 18px;
    line-height: 24px;
}

.label {
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
